@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Righteous&display=swap');

:root {
/*	--base-color: #082f82;*/
	--base-color: #131313;
	--accent-color: #000;
	--button-border-thickness: 1px;
	--button-font-weight: 600;
	--button-transform: none; /* uppercase / none */
	--nav-underline-color: rgba(255, 255, 255, 1);
}


body {
	max-width: 1320px;
	margin: 0 auto;
	line-height: 1.55;
	font-size: 1.15rem;
	position: relative;
	font-family: helvetica, serif;
/*	font-family: "Plus Jakarta Sans", sans-serif;*/
	 font-weight: 400;
	background-color: rgba(0,0,0,0.15);
	color: #000;
	box-shadow: 0px 1px 35px 20px rgba(0,0,0,0.1);
}

@media(max-width: 700px ) {
	body {
		font-size: 1rem;
	}
}

h1, h2, h3 {
	line-height: 1.25;
/*	font-family: "Caprasimo", serif;*/
/* font-family: "Righteous", sans-serif;*/
	  font-weight: 600;
/*	font-family: sans-serif;*/
/*	font-family: "Montserrat", sans-serif;*/
	/*	font-family: "Oxanium", sans-serif;*/
	/*	font-weight: 400 !important;*/
	color: var(--base-color);
}

.content h2 {
/*	border-bottom: 1px solid;*/
}

h4 {
	margin-bottom: 36px;
}

.home-intro {
	text-align: center;
}

.home-intro .content {
/*	padding-bottom: 0;*/
}

.home-index {
	background-color: #F2F1ED;
}

.home-elsewhere {
	background: #fff;
}

.content {
	max-width: 1080px;
	margin: auto;
	padding-top: 62px;
	padding-bottom: 60px;
	padding-left: 20px;
	padding-right: 20px;
}

.content video,
.content img {
/*	border: 10px solid #ececec;*/
}

.content h2 {
	margin-top: 46px;
	font-size: 2.1rem;
	position: relative;
}

@media (max-width: 700px) {
	.content h2 {
		margin-top: 26px;
		font-size: 1.7rem;
		line-height: 1.35;
	}
}

.content h2:first-child {
	margin-top: 0;
}

.content h3 {
	font-size: 25px;
}

.content p:first-child {
	margin-top: 0;
}

.content ol {
	padding-left: 24px;
}

.content ol li {
	margin: 20px 0;
}

mark {
	background: #fffddc;
}

hr {
	height: 3px;
	background: #252525;
	border-radius: 0;
	margin-top: 44px;
	margin-bottom: 44px;
	border: 0;
	display: block;
}

img {
	max-width: 100%;
	height: auto;
}

iframe {
	background: #fff;
	max-width: 90%;
	margin: 0;
	display: block;
}

a {
	color: inherit;
	text-decoration-thickness: 1px; 
	text-underline-offset: 5px; 
	text-decoration-color: inherit;
}

pre {
  background: #f4f4f4;
  border: 1px solid #ccc;
  overflow: auto;
  color: #000;
  padding: 10px;
  font-size: 1rem;
}

pre code {
  color: #000;
}

code {
  font-size: 14px;
}

/*Mobile Menu*/ 
.menu-toggle {
	display: none;
}

@media(max-width: 990px) {
	.menu-toggle {
		display: inline-block;
		position: absolute;
		top: 19px;
		right: 20px;
		color: #fff;
		text-decoration: none;
		border: 1px solid #fff;
		padding: 4px 13px;
	}
}

.header {
	color: #fff;
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
/*	border-bottom: 1px solid rgba(255,255,255,0.2);*/
}

.header-measure {
	padding: 26px 33px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*max-width: 1130px;*/
	margin: 0 auto;
}

@media(max-width: 990px) {
	.header-measure {
		display: block;
		padding: 23px 20px;
	}
}

.header-logo h1 {
	margin: 0;
	font-size: 26px;
    /*text-transform: uppercase;*/
	color: #fff;
	font-weight: 700;

/*	background-image: url('./img/circle.png');
	background-size: 30px;
	background-repeat: no-repeat;
	padding-left: 43px;
	background-position: top 2px left;*/
}

@media(max-width: 700px) {
	.header-logo h1 {
		font-size: 22px;
	}
}

.header-logo h1:after {
	content: 'Creative & Technical';
	margin-left: 16px;
	font-weight: 400;
	font-size: 18px;
	opacity: 0.7;
/*	font-style: italic;*/
	/*font-family: cursive;*/
}

@media(max-width: 700px) {
	.header-logo h1:after {
		display: none;
	}
}

.header-logo a {
	text-underline-offset: 6px;
	text-decoration-color: var(--nav-underline-color);
	color: inherit;
}

.header-logo img {
	max-width: 55px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
	position: relative;
	top: -3px;
}

.header-nav {
    font-size: 18px;
}

@media(max-width: 990px) {
	.header-nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: calc(100% - 85px);
/*		background: #004182;*/
		background: #fbfbfb;

		padding: 30px;
		box-sizing: border-box;
	}
}

@media(max-width: 990px) {
	.header-nav.hidden-mobile {
		visibility: hidden;
		display: none;
	}
	.header-nav.visible-mobile {
		visibility: visible;
		display: block;
	}
}

@media(max-width: 990px) {
	.header-nav-underlay {
		position: fixed;
		top:0;
		left:0;
		right:0;
		background: rgba(0,0,0,0.8);
		display: block;
		width: 100%;
		height: 100%;
		z-index: 2;
	}

	.header-nav-underlay.active {
		display: block;
	}
	.header-nav-underlay.inactive {
		display: none;
	}
}

nav ul {
	list-style: none;
	margin:0;
	padding: 0;
    /*text-transform: uppercase;*/
    font-size: 17px;
    counter-reset: item;
}

nav li {
	display: inline-block;
	margin-left: 25px;
	vertical-align: middle;

	counter-increment: item;
}

/*nav li::before {
  content: "0." counter(item) " ";
  opacity: 0.7;
  padding-right: 4px;
}*/

/*CODEPEN NAV BUTTON*/
.nav-promo {
/*	display: none;*/
}

@media(max-width: 990px) {
	nav li {
		display: block;
		margin-left: 0;
	    margin-bottom: 20px;
	}
	nav li.nav-promo {
		margin-top: 40px;
	}
}


nav li:first-child {
	margin-left: 0;
}

nav a {
	display: inline-block;
	color: inherit;
	vertical-align: middle;
	text-decoration: underline;
	text-underline-offset: 7px;
	text-decoration-color: var(--nav-underline-color);
}

@media(max-width: 990px) {
	nav a {
		color: #000;
	}
}

nav a:hover {
/*	border-bottom-color: rgba(255,255,255,1);*/
	border-bottom-color: #92ccd3;
}

nav a.nav-button {
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: var(--button-font-weight);
	padding-top: 6px;
	text-decoration: none;
	padding-bottom: 6px;
	color: inherit;
	text-transform: var(--button-transform);
	border: var(--button-border-thickness) solid #fff;
}

/*@media(max-width: 800px) {
	nav a.nav-button {
		display: inline-block;
		border: 0;
		padding: 0;
		color: #fff;
		vertical-align: middle;
		text-decoration: none;
		border-bottom: 3px solid #8d8d8d;
		transition: 0.2s border-bottom ease-in-out;
	}
}*/

nav svg {
	margin-right: 5px;
	max-width: 18px;
	height: auto;
}

main {
    background: white;
    padding: 0;
}

@keyframes slideUpFadeIn {
  from {
  	opacity: 0;
  	transform: translateY(40px);
  }
  to {
  	opacity: 1;
  	transform: translateY(0px);
  }
}

.hero {
	padding: 180px 0 60px 0;
	color: #fff;
	background-color: #1A1A1A;
	text-align: center;
	position: relative;
}

@media (max-width: 700px) {
	.hero {
		padding: 140px 0 50px 0;
	}
}

.hero h1 {
color: white;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.2), 1px -1px 0 rgba(0,0,0,0.2), -1px 1px 0 rgba(0,0,0,0.2), 1px 1px 0 rgba(0,0,0,0.2);
}

/*.hero h1 span {
	color: #fff;
}*/

.hero-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
/*	background-image: url('./img/texture.png');*/
/*	background-repeat: repeat;*/
/*	background-size: cover;*/
/*	background-position: center;*/
	opacity: 0.5;

  background-image:
    linear-gradient(120deg, transparent 70%, rgba(0,0,0,0.5) 70%),
    linear-gradient(300deg, transparent 60%, rgba(0,0,0,0.5) 60%);

}

.hero-measure {
	position: relative;
	z-index: 999;
    max-width: 940px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	transform: translateY(40px);
	opacity: 0;
	animation-name: slideUpFadeIn;
	animation-duration: 0.8s;
	animation-delay: 0.2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.hero h1 {
	margin: 0 0 30px 0;
/*	font-size: 48px;*/
font-size: 84px;
  line-height: 1.1;
}

@media(max-width: 700px) {
	.hero h1 {
		font-size: 30px;
	}
}

.hero p {
    margin-bottom: 0;
    max-width: 820px;
/*    font-size: 19px;*/
	font-size: 23px;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width: 700px) {
	.hero p {
		font-size: 17px;
		padding-left: 10px;
		padding-right: 10px;
/*		max-width: 250px;
		margin-left: auto;
		margin-right: auto;*/
	}
}

.hero__arrow {
	padding-top: 75px;
}

@media(max-width: 700px) {
	.hero__arrow {
		padding-top: 38px;
	}
}

.heading a {
	color: inherit;
	text-decoration-color: #fff;
}


.heading {
    padding: 170px 0 105px 0;
/*    background-color: #252525;*/
	background-color: var(--base-color);

/*	background-image: url('./img/code-pattern.svg');*/
/*	background-size: 310px;*/
    text-align: center;
/*    color: #fff;*/
    color: #fff;
    position: relative;

/*	background-image: url('./img/hero-2.jpg');
	background-size: cover;
	background-repeat: no-repeat;*/

/*	background-position: top 20px center;*/
}

@media(max-width: 700px ) {
	.heading {
		padding: 120px 0 60px 0;
	}
}

.heading:before {
	content:'';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.5;

  background-image:
    linear-gradient(120deg, transparent 70%, rgba(0,0,0,0.5) 70%),
    linear-gradient(300deg, transparent 60%, rgba(0,0,0,0.5) 60%);

}



.heading-measure {
	position: relative;
	z-index: 99;
    max-width: 940px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	transform: translateY(40px);
	opacity: 0;
	animation-name: slideUpFadeIn;
	animation-duration: 0.8s;
	animation-delay: 0.2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.heading h1 {
	margin: 0 0 30px 0;
	font-size: 42px;
	color: #fff
/*    text-transform: uppercase;*/
}

@media(max-width: 700px) {
	.heading h1 {
		font-size: 31px;
	}
}

.heading p {
	margin-bottom: 0;
	font-size: 19px;
}

@media(max-width: 700px) {
	.heading p {
		font-size: 17px;
		padding-left: 20px;
		padding-right: 20px;
	}
}


.articleList {
	list-style: none;
	padding: 0;
	margin: 30px 0 25px 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 40px;
}

@media(max-width: 700px) {
	.articleList {
		grid-gap: 20px;
		grid-template-columns: 1fr;
	}
}

.tag {
	color: rgb(53, 187, 237);
	font-weight: bold;
	font-size: 15px;
}

.button {
	margin-top: 36px;
	display: inline-block;
	border: 0;
	padding: 18px 30px;
	text-decoration: none;
	color: #fff;
	background-color:  var(--accent-color);
	border: 0;
	font-weight: var(--button-font-weight);
	font-size: 16px;
	text-transform: var(--button-transform);
}

.button-white {
	margin-top: 36px;
	display: inline-block;
	font-weight: var(--button-font-weight);
	border: 0;
	padding: 12px 24px;
	text-decoration: none;
	color: #fff;
	border: var(--button-border-thickness) solid;
	font-size: 16px;
	text-transform: var(--button-transform);
}

@media(max-width: 700px) {
	.button-white {
		margin-top: 20px;
	}
}

video {
  width: 100%;
  height: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.preview {
	height: 100%;
	position: relative;
	background: #fff;
	border-bottom: 4px solid #aeb0b2;
	box-shadow: 0 2px 16px 0 rgb(0 0 0 / 10%);
	transition: border-color .2s,box-shadow .2s,transform .2s,-webkit-box-shadow .2s,-webkit-transform .2s;
}

.preview:hover {
	border-color: #139bce;
	transform: translateY(-4px);
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 20%);
}

.preview-image {
	overflow: hidden;
}

.preview-image img {
	display: block;
	width: 100%; 
	height: auto;
	transition: 0.3s;
}

.preview:hover .preview-image img {
	transform: scale(1.02);
}

.preview-body {
	padding: 25px 20px 25px 20px;
	text-align: center;
}

.preview h3 {
	font-size: 21px;
	line-height: 1.3;	
	margin: 0;
}

.preview a {
	color: inherit;
	text-decoration: none;
	display: block;
}

.preview a:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.tech-skills {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 30px;
	margin-top: 50px;
	margin-bottom: 70px;
}

@media(max-width: 980px) {
	.tech-skills {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media(max-width: 680px) {
	.tech-skills {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media(max-width: 500px) {
	.tech-skills {
		grid-template-columns: repeat(2, 1fr);
	}
}

.tech-skills__item {
	text-align: center;
	background: #f2f2f2;
	padding: 20px;
}

.tech-skills__item p {
	margin: 5px 0 0 0;
	/*text-transform: uppercase;*/
	font-weight: bold;
	font-size: 14px;
	line-height: 1.45;
}

.cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
}

@media(max-width: 47rem) {
	.cards {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 30px;
	}
}

.cards--thirds {
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
}

@media(max-width: 47rem) {
	.cards--thirds {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 30px;
	}
}

.cards--halves {
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
}


@media(max-width: 47rem) {
	.cards--halves {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 30px;
	}
}

.cards--full {
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 30px;
}


.card {
	background: #fff;
	position: relative;
	border: 2px solid #e2e2e2;
	border-bottom: 4px solid var(--accent-color);
	/*box-shadow: 0 2px 16px 0 rgb(0 0 0 / 15%);*/
	transition: border-color .2s,box-shadow .2s,transform .2s,-webkit-box-shadow .2s,-webkit-transform .2s;
	display: flex;
	flex-direction: column;
}

.card:hover {
	border-bottom: 4px solid #797979;
	transform: translateY(-4px);
	box-shadow: 0 2px 18px 0 rgb(0 0 0 / 20%);
}

.card__image img {
	display: block;
	width: 100%;
	height: auto;

	aspect-ratio: 15/9;
	object-fit: cover;
}

.card__body {
	padding: 25px;
	flex: 1;
	display: flex;
	flex-direction: column;	
}

.card__text {
	font-size: 16px;
	line-height: 25px;
	margin-bottom: 25px;
}

.card__kicker {
	margin: 0 0 10px 0;
	font-weight: 600;
	font-size: 14px;
	color: var(--accent-color);
}

.card__title {
	margin: 0;
	font-size: 21px;
	line-height: 1.4;
}

.card__link {
	text-decoration: none;
	color: var(--base-color);
}

.card__link:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.card__readmore {
	margin-top: auto;
	margin-bottom: 0;
}

.card__readmore-link {
	color: #000;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
	border: 0;
	background: url(./img/arrow.svg);
	background-position: center right;
	background-repeat: no-repeat;
	padding-right: 22px;
	background-size: 14px;
}

.footer {
/*    background-color: #252525;*/
    background-color: var(--base-color);
    color: #fff;
    text-align: center;
    padding: 54px 20px;
    position: relative;
    font-size: 17px;
}

@media(max-width: 990px) {
	.footer {
		text-align: left;
	}
}

.footer h2 {
	color: #fff;
}

.footer p {
	margin: 0;
}

.heart {
	max-height: 14px;
	margin-left: 3px;
	margin-right: 3px;
}

table, table th, table td {
	border-color: #ccc;
}

table th {
	font-weight: bold;
	text-align: left;
}

#menu {
	padding-bottom: 20px;
}

#menu h2 {
	display: none;
}

@media(max-width: 990px) {
	#menu h2 {
		margin-top: 0;
		display: block;
	}
}

#menu br {
	display: none;
}

@media(max-width: 990px) {
	#menu br {
		display: block;
	}
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu li {
	margin: 0 10px;
	display: inline-block;
}

@media(max-width: 990px) {
	#menu li {
		margin: 0 0 15px 0;
		display: block;
	}
}

#menu a {
	color: inherit;
	text-decoration-color: var(--nav-underline-color);
}