body {
	max-width: 1120px;
	margin: 0 auto;
	line-height: 1.55;
	font-size: 1.1rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	background: #f5f5f1;
	box-shadow: 0px 1px 25px 0px rgba(50,50,50,0.25);
}

h1, h2 {
	line-height: 1.25;
}

h2 {
	margin-top: 36px;
}

mark {
	background: #fffddc;
}

hr {
	height: 5px;
	background: #000;
	border-radius: 0;
}

img {
	max-width: 100%;
	height: auto;
}

iframe {
	background: #fff;
	max-width: 90%;
	margin: 0;
	display: block;
}

a {
	color: #1d70b8;
	text-decoration-thickness: 1px; 
	text-underline-offset: 5px; 
}

pre {
  background: #efefef;
  border: 1px solid;
  overflow: auto;
  padding: 10px;
}

pre code {
  color: #000;
}

a:focus {
	outline: 3px solid #ffd346;
}

code {
  font-size: 14px;
}

.header {
	background: #252525;
	color: #fff;
	position: relative;
}

.header:after {
	content: '';
	display: block;
	width: 100%;
	height: 8px;
	background: #1d70b8;
/*background-color: #FF3CAC;*/
/*background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);*/

}

.header-measure {
	padding: 24px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media(max-width: 40rem) {
	.header-measure {
		display: block;
		padding: 23px 20px;
	}
}

.header-logo h1 {
	margin: 0;
	font-size: 25px;
}

@media(max-width: 40rem) {
	.header-logo h1 {
		margin-bottom: 6px;
	}
}

nav ul {
	list-style: none;
	margin:0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-left: 18px;
	vertical-align: middle;
}

nav li:first-child {
	margin-left: 0;
}

nav a {
	color: #fff;
	display: flex;
	text-decoration: none;
	border-bottom: 1px solid #8d8d8d;
	transition: 0.2s border-bottom ease-in-out;
}

nav a:hover {
	border-bottom: 1px solid #fff;
}

nav svg {
	margin-right: 5px;
	max-width: 18px;
	height: auto;
}

main {
    background: white;
    padding: 0;
}

.heading {
    padding: 72px 0 76px 0;
    background-image: url('img/white-waves.png');
    background-color: #eee;
    border-bottom: 8px solid #efefef;
}

@keyframes example {
  from {
  	opacity: 0;
  	transform: translateY(40px);
  }
  to {
  	opacity: 1;
  	transform: translateY(0px);
  }
}

.heading-measure {
    max-width: 940px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;

	transform: translateY(40px);
	opacity: 0;
	animation-name: example;
	animation-duration: 0.8s;
	animation-delay: 0.2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.heading h1 {
	margin: 0;
	font-size: 40px;
/*background-color: #FF3CAC;
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);



	-webkit-background-clip: text;
	color: transparent;*/
}

.heading p {
	margin-bottom: 0;
	font-size: 19px;
	/*max-width: 72ch;*/
}

.articleList {
	list-style: square;
	padding: 0 0 0 1rem;
	margin: 1.8rem 0 0 0;
}

.articleList li {
	margin-bottom: 14px;
}

.button {
	margin-top: 10px;
	display: inline-block;
	border:1px solid #000;
	padding: 12px 14px;
	text-decoration: none;
	color: #000;
	font-size: 0.94rem;
	font-weight: bold;
}

.content {
	max-width: 940px;
	margin: auto;
	padding-top: 25px;
	padding-bottom: 35px;
	padding-left: 20px;
	padding-right: 20px;
}

h4 {
	margin-bottom: 36px;
}

video {
  width: 100%;
  height: auto;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
	margin-top: 40px;
	margin-bottom: 40px;
}

@media(max-width: 40rem) {
	.grid {
		grid-template-columns: 1fr;
	}
}

.gridItem {
	position: relative;
	background-image: url('img/white-waves.png');
    border: 10px solid #eee;
}

.gridItem-image {
	overflow: hidden;
}

.gridItem-image img {
	display: block;
	width: 100%; 
	height: auto;
	transition: 0.3s;
}

.gridItem:hover .gridItem-image img {
	transform: scale(1.1);
}

.gridItem-body {
	background-color: #eee;
	padding: 13px 10px;
	background-image: url('img/white-waves.png');
}

.gridItem h3 {
	margin: 0;
}

.gridItem a {
	color: #000;
	text-decoration: none;
	display: block;
}

.gridItem a:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

footer {
    background: #252525;
    color: white;
    padding: 25px 30px;
    position: relative;
}

footer:before {
	content: '';
	display: block;
	width: 100%;
	height: 8px;
/*background-color: #FF3CAC;*/
/*background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);*/
background: #1d70b8;


	position: absolute;
	top: 0;
	left: 0;
}

footer p {
	margin: 0;
}

footer hr,
footer br {
	display: none;
}