<header role="header">
    <div class="container-wide">
        <div class="header-brand">
            <a href="{{.Site.BaseURL}}" class="header-logoLink">
                David Walker<span style="color:orange;">.</span>
            </a>
        </div>

        <nav role="navigation" class="header-nav">
            <ul>
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
             <li><a class="header-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a></li>
            {{ end }}
            <li><a href="https://codepen.io/davidatchameleon/" target="_blank" class="navButton navButton--codepen">Codepen</a>
            </ul>
        </nav>
    </div>
</header>


<header role="header" style="display: none;">
    <div class="grid-container">
        <div class="grid-30 tablet-grid-30 mobile-grid-100">
            <a href="{{.Site.BaseURL}}" class="header-logoLink">
                David Walker
            </a>

            <!-- <a href="#" id="nav_toggle">Show Menu</a> -->
        </div>
        <div class="grid-70 tablet-grid-70 mobile-grid-100">
            <nav role="navigation">
                <ul>
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                    <li><a class="header-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a></li>
                {{ end }}
                <li>
                    <a href="https://codepen.io/davidatchameleon/" target="_blank" class="navButton navButton--codepen">Codepen</a>
                </ul>
            </nav>
        </div>
    </div>
</header>