{{ define "main" }}

<div class="heading">
	<div class="grid-container">
		<div class="grid-90">
			<h1 class="heading-title">{{ .Title }}</h1>

			<p>Here you will find a range of essays I have written on various topics. I plan to cover areas of interest such as web development, accessibility, shell scripting, javascript and even video editing. Many of my articles will be published but subject to further updates in future.</p>
		
		</div>
	</div>
</div>

<div class="content">

	<div class="grid-container">
		<div class="grid-100">

		<!-- https://www.youtube.com/watch?v=BSeYDNhTRB0 -->
		<div class="articleList">
			{{ range .Paginator.Pages.ByPublishDate.Reverse }}
				<div class="articleList-item">
			    <h2 class="articleList-articleTitle"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
				{{ partial "metadata.html" . }}
			    <p class="articleList-text">{{ .Summary }}</p>
			    <p class="articleList-readmore"><a href="{{ .RelPermalink }}">Read more</a></p>
				</div>
			{{ end }}				
		</div>

		{{ partial "pagination" .}}	

		</div>
	</div>

</div>

{{ end }}