{{ define "main" }}

<div class="heading">
	<div class="grid-container">
		<div class="grid-90">
			<h1 class="heading-title">#{{ .Title }}</h1>
			<p>You are currently viewing all articles which have been tagged <b>#{{ .Title }}</b></p>
			<p><a href="/posts/" class="button">View all articles</a></p>
		</div>
	</div>
</div>

<div class="content">
	<div class="grid-container">
		<div class="grid-100">

			<div class="articleList">
			{{ range .Pages.ByPublishDate.Reverse }}
				<div class="articleList-item">
					<h2 class="articleList-articleTitle"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
					{{ partial "metadata.html" . }}	
				    {{ .Summary }}
				    <p class="articleList-readmore"><a href="{{ .RelPermalink }}">Read more</a></p>
			    </div>
			{{ end }}			
			</div>

		</div>
	</div>
</div>

{{ end }}