{{ define "main" }}

<div class="heading">
	<div class="grid-container">
		<div class="grid-90">
			<h1 class="heading-title">Cambridge Web Developer</h1>

			<p>Hello, I’m David — a Front End Web Developer and Tech Enthusiast based in Cambridge, UK.</p>

			<p>I have over 8 years of industry experience building professional websites for a wide range of sectors including start-ups, education, conservation, biotech and non-profit.</p>	

			<p><a href="{{.Site.BaseURL}}posts" class="button">Read my articles</a></p>
		</div>
	</div>
</div>

<div class="content">

	<div class="grid-container">
		<div class="grid-100">
			<h2>Beautiful websites, Coded beautifully</h2>
			<p>I make websites - hand coded, from the ground up. <b>I never use off the shelf themes</b>. I'm passionate about working with colleagues and clients alike to brainstorm ideas for websites that value <b>accessibility</b>, <b>user experience</b>, <b>information architecture</b> and <b>data-driven performance</b>. I specialise in Front End Development, but also enjoy some aspects of Backend Development too.</p>

			<p>When it comes to development, I prefer to learn by removing abstractions and learning <b>native technologies</b> wherever possible so that I gain an appreciation of how things work "under the hood" rather than being too dependent upon ever changing frameworks or templating systems. I believe the best solutions to technical challenges are usually ones with simplicity as the end goal.</p>

			<h2>Technical Expertise</h2>

			<!-- <p>I work on both Mac and PC, but primarily on a Mac using software such as Adobe Photoshop and Sublime Text as my code editor of choice.</p> -->

			<table width="100%" border="1" cellspacing="0" cellpadding="12" bordercolor="#ececec">
				<tr bgcolor="#eee">
					<th align="left">Technology</th>
					<!-- <th align="left">Level</th> -->
					<th align="left">Description</th>
				</tr>
				<tr>
					<td valign="top"><p><b>HTML 5</b></p></td>
					<!-- <td valign="top">5/5</td> -->
					<td valign="top"><p>Using the BEM code architecture and semantic tags where possible.</p></td>
				</tr>
				<tr>
					<td valign="top"><p><b>CSS &amp; SASS</b></p></td>
					<!-- <td valign="top">5/5</td> -->
					<td valign="top"><p>I have a very good working knowledge of CSS 3 and SASS. In the past, Whilst in the past I have used frameworks such as Bootstrap, I have not used them for many years now as I prefer to hand-code projects using techniques such as Flexbox, CSS Grid, CSS Variables, Calc functions and many more.</p></td>
				</tr>

				<tr>
					<td valign="top"><p><b>Javascript &amp; AJAX</b></p></td>
					<!-- <td valign="top">4/5</td> -->
					<td valign="top"><p>Vanilla Javascript including traversing the DOM, for loops, arrays, name spacing, event listeners ect. I have also worked with jQuery and frequently work with Javascript task runners that include Gulp and NPM scripts.</p></td>
				</tr>
				<tr>
					<td valign="top"><p><b>Wordpress &amp; PHP</b></p></td>
					<!-- <td valign="top">4/5</td> -->
					<td valign="top"><p>Building bespoke Wordpress themes using PHP and Advanced Custom Fields. I'm accustomed to working with Apache / MySQL databases. I have experience of other content management systems too such as Craft CMS.</p></td>
				</tr>	

				<tr>
					<td valign="top"><p><b>Email Marketing</b></p></td>
					<!-- <td valign="top">4/5</td> -->
					<td valign="top"><p>MJML, Foundation, Pardot, Mailchimp, Litmus testing</p></td>
				</tr>

				<tr>
					<td valign="top"><p><b>Git &amp; Markdown Documentation</b></p></td>
					<!-- <td valign="top">5/5</td> -->
					<td valign="top"><p>I am accustomed to working with Git and Github - using the various terminal commands to push, pull and merge "branches" on projects. I have worked with a number of Git version control services such as Springloops and Buddy. I also have experience with Github flavoured Markdown and writing documentation for projects.</p></td>
				</tr>	
					
				<tr>
					<td valign="top"><p><b>Static Site Generators</b></p></td>
					<!-- <td valign="top">4/5</td> -->
					<td valign="top"><p>I have experience with two static site generators - Jekyll and HUGO (which powers this website). There are an endless list of static site generators to use, but I have found these two in particular to be very versatile.</p></td>
				</tr>	

				<tr>
					<td valign="top"><p><b>Shell Scripting</b></p></td>
					<!-- <td valign="top">3/5</td> -->
					<td valign="top"><p>I have written a number of BASH scripts to power task automation on certain projects. These bash scripts also sometimes incorporate Linux utilities such as Rsync, Sed, Grep, Head, Tail, PdfImages, ImageMagick ect.</p></td>
				</tr>

				<tr>
					<td valign="top"><p><b>Accessibility</b></p></td>
					<!-- <td valign="top">4/5</td> -->
					<td valign="top"><p>Audio transcripts, A11y practices, page landmarks, keyboard friendly site navigations, contrast ratios, Progressive Enhancement build philosophy</p></td>
				</tr>	

				<tr>
					<td valign="top"><p><b>Video Editing</b></p></td>
					<!-- <td valign="top">3/5</td> -->
					<td valign="top"><p>As a personal hobby I have experience with converting old analog video formats such as VHS tapes and 8mm video to digitised formats using hardware such as AV to HDMI converters &amp; upscalers, video capture devices and software such as virtualdub, OBS, winDV and others. I have a working knowledge of the various correct resolutions for capturing footage depending on the source (e.g. PAL vs NTSC), as well as deinterlacing, compression algorithms and using Audacity to convert mono sound into stereo sound.</p></td>
				</tr>													
			</table>

			<h2>What about React, Angular, Python, Ruby ect?</h2>

			<p>There are a multitude of other skills web developers are encouraged to learn these days. In the Javascript realm you have React, Angular, Vue, Next and many more. On the server side there are endless Content Management Systems and a choice of languages such as Python, Ruby, Java, Haskell and so on.</p>

			<p>There is little doubt that these technologies have some incredible benefits and I do not rule out learning more about any of them. However, with only so many hours in the day- developers must make an educated decision about how to invest their time and energy.</p>

			<p>One such way to gauge which technologies to learn is to look at what is popular. Technology Blogs, forums and online developer course schools create a lot of buzz surrounding certain trending frameworks or languages, but could it be that this can sometimes create  misleading perceptions about what technologies are <i>actually used in the real world</i>?</p>

			<p>According to data compiled from w3techs.com (as of January 2021) of the websites it monitors:</p>

			<ul>
				<li><b>Wordpress</b> is used on 39.5% of websites</li>
				<li><b>PHP</b> is used on 79.1% of websites</li>
				<li><b>Javascript</b> is used on 97.1% of websites</li>
			</ul>

			<p>Meanwhile, perhaps surprisingly given their popularity on tech blog and forums:</p>

			<ul>
				<li><b>Vue JS</b> is used on 0.5% of websites</li>
				<li><b>Angular JS</b> is used on 0.4% of websites</li>
				<li><b>React JS</b> is used on 0.3% of websites</li>
				<li><b>Ruby</b> is the backend language of choice for 4.3% of websites</li>
				<li><b>Python</b> is the backend language of choice for 1.4% of websites</li>
			</ul>

			<p>I have an enormous passion for learning and will absolutely continue to learn trending technologies, however my primary tech stack has been adopted for pragmatic purposes above all else - I want to be skilled in the technologies that have wide adoption rates and then add niche technologies to my stack as a complementary feature where possible.</p>

<!-- 			<p>I have chosen to be very pragmatic about which technologies I invest my time in, by focussing </p>




			Technology blogs and online developer schools create a lot of buzz surrounding certain technologies, which can sometimes create the impression that these technologies are used on websites a lot more frequently than they actually are. In the Javascript realm you have React, Angular, Vue, Next and many more. On the server side there are endless Content Management Systems and a choice of languages such as Python, Ruby, Java, Haskell and so on.</p>




			<p>I have an enormous passion for learning new things in web development, and top of my list currently is Node JS and further advancing my Javascript skills.</p>







			<p>There is a large and ever growing list of technologies percieved to be trending that the modern web developer is encouraged or even expected to know to know, perhaps in part caused by the buzz generated from online technology blogs and digital tech schools. The list of Javascript libraries is vast - including React JS, Angular JS, Vue JS, Next JS - and many more. On the Server Side, there are endless choices of Content Management Systems, and languages such as Python, Ruby, Haskell ect.</p>

			<p>So why are these trendy technologies 'missing' from my portfolio? Let me answer by saying that one of the things I love about web development is how much there is to learn. However, even just one of these technologies takes a considerable amount of time, energy and dedication to learn. There are limits as to how much information one person can cram into their brain in any given day and for most people trying to take on the task of learning everything, you're likely going to do little beyond burn yourself out. Secondly, when you step away from the hype and actually look at the facts and statistics about what technologies power the web, the answers are telling:</p>

			<ul>
				<li>About 38% of websites use <b>Wordpress</b></li>
				<li><b>PHP</b> is the server-side programming language of nearly 80% of websites. Python accounts for less than 1.5%.</li>
				<li>Many websites are powered by <b>vanilla Javascript</b> and where libraries are used, <b>jQuery</b> is used about 77% of the time. React, Angular and Vue account for less than 1.2% combined.</li>
			</ul> 

			<p>Statistics taken from <a href="https://w3techs.com/technologies">w3techs.com/technologies</a></p>

			<p>My approach to my tech stack is a pragmatic one: I base my skillset on the technologies that are widely used and widely adopted.</p>

			<h2>What technology powers this website?</h2>

			<p>I wanted my personal website to be <b>as dependency-free as possible</b>. There are many reasons for this, but chiefly, because I wanted to adopt a build philosophy which asks the question <i>“What kind of website do I want to be supporting this time next year?”</i>. It’s easy within web development circles to always be chasing the latest trends and “flavour of the month” frameworks - but todays website build will soon become tomorrows maintenance work, and todays trends quickly become yesterdays trends.</p>

			<p>As developers, we often face a huge array of new technologies to learn, which can at times become overwhelming. So for my personal website, I have deliberately decided to choose native technologies which seek to go “back to the roots” of many of the core underpinnings powering the web. Thus, this website is powered by <b>HTML, CSS and Vanilla Javascript</b>. Content is styled with a <b>robust grid system</b> which offers bullet proof support on all legacy browsers and <b>web safe fonts</b>.</p>

			<p>Initially, I planned to build my website in standalone PHP. However, upon consideration that I wanted to use Markdown for speedy content creation, I opted to build this website in <b>HUGO - a static site generator using GoLang</b>. HUGO stood out for me above the many other static site generators for having virtually no dependencies, and being ultra lightweight and portable.</p> -->


		</div>
	</div>
</div>

{{ end }}