@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
	--dark-background-color: #191919;
	--dark-text-color: #000;
	--accent-color: #d63021;
}

* {
	box-sizing:border-box;
}

/*======== TYPOGRAPHY ========*/
html {
	background:#eaeaea;
}

body {
	/*font: 19px/1.55 'Inter', Helvetica, Arial, sans-serif; */
	font: 19px/1.55 Helvetica, Arial, sans-serif; 
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color:#000;
	margin:0 auto;
	background:#fff;
	max-width: 1300px;
	box-shadow: 0px 4px 15px 5px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 4px 15px 5px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 4px 15px 5px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
	body {
		font: 16px/1.55 Helvetica,Arial,sans-serif; 
	}
}

h1,h2,h3 {
	line-height: 1.25;
}

.button {
	display: inline-block;
	color:#000;
	border:2px solid #000;
	text-decoration: none;
	padding:11px 16px 11px 16px;
	/*border-radius: 5px;*/
	background-color:#fff;
	font-size:14px;
	font-weight: 600;
	/*background:transparent;*/
	text-transform: uppercase;
/*	background-image: url('/img/arrow.svg');
	background-size: 17px;
	background-repeat: no-repeat;
	background-position: center right 14px;*/
}

.content a:focus {
	outline: 3px solid #eee;
}

/*======== HEADER ========*/

.header {
	/*border-top: 10px solid #005eb8;*/
	background:#171717;
	padding:19px 0;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}

.header .grid-container {
	max-width: 1260px;
}

.header-logo {
	display: block;
}

.header-logoLink {
	color:#fff;
	font-weight: bold;
	text-decoration: none; 
	font-size:25px;
	text-transform: uppercase;
	border-bottom: 1px solid transparent;
}

.header-logoLink:hover {
	border-bottom: 1px solid #fff;
}

.header-nav {
	float:right;
}

@media (max-width: 768px) {
	.header-nav {
		float:none;
	}
}

.header-nav ul {
	list-style: none;
	margin:0px 0 0 0;
	padding:0;
}

@media (max-width: 768px) {
	.header-nav ul {
		margin-top: 30px;
	}	
}

.header-nav li {
	display: inline-block;
	margin-left: 18px;
}

@media (max-width: 768px) {
	.header-nav li {
		margin-left: 0;
		margin-right: 15px;
	}	
}

.header-nav a {
	color:#fff;
	display: block;
	font-weight: bold;
	font-size:14px;
	line-height: 14px;
	padding-bottom: 5px;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	text-transform: uppercase;
}

@media (max-width: 768px) {
	.header-nav a {
		font-size:15px;
		line-height: 15px;
	}
}

.header-nav a:hover,
.header-nav a.active {
	border-bottom: 1px solid #fff;
}

.navButton {
	/*background:transparent;*/
	color:#fff !important;
	padding:10px 10px 10px 10px !important;	
	border:1px solid white !important;
	background-image: url('/portfolio/img/external.svg');
	background-repeat: no-repeat;
	background-position: top 9px right 8px;
	background-size:13px;
	/*background-color:red;*/
	padding-right:29px !important;
}

/*.navButton {
	margin-left: 10px;
	background:#f2f2f2;
	color:#000 !important;
	padding:9px 8px 9px 9px;
}

.navButton--codepen {
	background-image: url('/img/codepen-logo.png');
	background-size: 23px;
	background-repeat: no-repeat;
	background-position: center right 5px;
	padding-right: 33px;
}*/


/*======== HEADING ========*/

.heading {
	padding: 60px 0 70px 0;
	background:#171717;
	color:#fff;
	position: relative;
	/*border-bottom: 10px solid #e6e6e6;*/
	border-bottom: 12px solid #005eb8;
}

@media (max-width: 768px) {
	.heading {
		padding:35px 0 35px 0;
	}
}

/*.heading:before {
	content:"";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('/portfolio/img/orbs.jpg');
	left:0;
	right:0;
	top:0;
	opacity:0.5;
	background-size: cover;
	background-position: center;
}*/

.heading a {
	color:inherit;
	text-decoration: none;
	font-weight: 600;
}

.heading .grid-container {
	position: relative;
}

.heading-title {
	font-size:54px;
	margin: 0 0 15px 0;
}

@media (max-width: 768px) {
	.heading-title {
		font-size:35px;
		margin: 0 0 15px 0;
	}
}

.heading--article .heading-title {
	text-align: center;
	font-size:47px;
}

.heading--article .date {
	text-align: center;
	margin:0 0 0.7rem 0;
	font-weight: bold;
}

.heading .button {
	background:none;
	border:1px solid #fff;
	margin-top: 20px;
}

/*Heading Pacman Animation*/

.headingPacman {
	height:30px;
	width:100%;
	background:red;
	position: absolute;
	bottom:0;
	left:0;
}

@keyframes example {
  from {
  	left:0;
  }
  to {
  	left:calc(100% - 30px);
  }
}



.headingPacman-item {
	height:30px;
	width:30px;
	background:#005eb8;
	position: absolute;
	left:0;
	animation-name: example;
  	animation-duration: 4s;
}

.headingPacman-item svg {
	/*max-width: 20px;*/
}



/*======== CONTENT ========*/

.content {
	padding:50px 0 50px 0;
}

.content h1 {

}

.content h2 {
	font-size: 30px;
	margin-top: 45px;
	margin-bottom: 1rem;
	border-bottom: 5px solid #ececec;
	padding-bottom: 6px;
	position: relative;
}

@media (max-width: 768px) {
	.content h2 {
		font-size:24px;
	}
}

.content h3 {
	margin-top: 2rem;
}

.content table {
	margin-top: 30px;
	margin-bottom: 40px;
	border-collapse: collapse;
	border-spacing: 0;
}

.content a {
	color:#005eb8;
	text-decoration: none;
	font-weight: bold;
}

.content a:hover {
	text-decoration: underline;
}

.content ul {
	padding-left: 0;
	margin-left: 1.1rem;
}

.content li {
	margin-bottom: 0.6rem;
}

.content ol {
	padding-left: 0;
	margin-left: 1.2rem;
}

.content p {
	margin-top: 0;
	margin-bottom: 1.2rem;
}

.content p:first-child,
.content h1:first-child,
.content h2:first-child,
.content h3:first-child {
	margin-top: 0;
}

.content p:last-child,
.content ul:last-child {
	margin-bottom: 0;
}

.content .articleList {
	padding-top: 10px;
}

.content .articleList-item {
	margin-bottom: 45px;
	padding-bottom: 25px;
	border-bottom: 4px solid #eee;
}

.content .articleList-item:last-child {
	margin-bottom: 0;
	border-bottom: 0;
}

.content .articleList-articleTitle {
	margin: 0;
	padding:0;
	font-size:29px;
	border-bottom: 0;
}

.articleList-articleTitle a:hover {
	border-bottom: 1px solid #005eb8;
}

.articleList-articleTitle a:hover {
	text-decoration: none;
}

.content .articleList .date {
	margin:0.5rem 0 0 0;
	font-weight: normal;
	display: none;
}

.content .articleList p {
	/*font-size:16px;*/
	margin-top: 5px;
}

.content .articleList-readmore {
	display: none;
	margin-bottom: 0;
	font-weight: bold;
}

.content .panel {
	background:#fbfbfb;
	padding:18px 25px;
	border-radius: 5px;
	margin-top: 35px;
	box-shadow: 0 2px 4px rgba(27,31,35,.15);
}

.content pre {
	font-size:16px;
	background:#ececec;
	color:#000;
	overflow: auto;
	padding:1rem;
	/*font-weight: bold;*/
	margin-bottom: 1.5rem;
	font-family: monospace;
	/*border:10px solid #a0a0ff;*/
}

.content p code {
	background:#f6f6f6;
	padding:0.1rem 0.2rem;
	border-radius: 0.2rem;
	font-size:1rem;
	font-family: monospace;
}

.tagsList {
	margin: 0;
	padding: 0;
	margin: 0;
	list-style: none;
}

.tagsList-item {
	border-bottom: 1px solid #ececec;
}


/*======== FOOTER ========*/

.footer {
	font-size:0.94rem;
	background: #171717;
	color:#fff;
	padding: 35px 0 35px 0;
	border-top: 12px solid #005eb8;
	/*background-image: url('/portfolio/img/qbkls.png');*/
}

.footer .grid-container {
	max-width: 1260px;
}

.footer i {
	color:#e63b27;
}

.footer p img {
	display: inline-block;
	vertical-align: middle;
	margin-top: -3px;
}

.footer span {
	float:right;
}

.footer-credit {
	text-align: right;
}

@media (max-width: 768px) {
	.footer-credit {
		text-align: left;
	}
}

.highlight {

}

/*STICKY FOOTER*/
/*.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site main {
  flex: 1;
}*/

