@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&display=swap');

:root {
	--dark-background-color: #191919;
	--dark-text-color: #000;
	--accent-color: #89160f;
	--focus-color:#ffeb3b;
}

* {
	box-sizing:border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.grid-wide {
	max-width: 1140px;
	padding-left: 20px;
	padding-right: 20px;
}

.container {
	width:100%;
	max-width: 1000px;
	padding-left: 30px;
	padding-right: 30px;
	margin: 0 auto;
}

.container-narrow {
	width:100%;
	max-width: 880px;
	padding-left: 30px;
	padding-right: 30px;
	margin: 0 auto;
}

.container-wide {
	width:100%;
	max-width: 1100px;
	padding-left: 30px;
	padding-right: 30px;
	margin: 0 auto;
}

/*======== TYPOGRAPHY ========*/
html {
	background:#c4c4c4;
}

body {
	font: 18px/1.55 Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #000;
	margin: 0 auto;
	background:#fff;
	max-width: 1200px;
	position: relative;
}

@media (max-width: 768px) {
	body {
		font: 16px/1.55 Helvetica, Arial, sans-serif;
	}
}

h1,h2,h3 {
	line-height: 1.25;
}

.button {
	display: inline-block;
	color:#000;
	border:2px solid #000;
	text-decoration: none;
	padding:12px 20px 12px 20px;
	background-color:#fff;
	font-size:14px;
	font-weight: 600;
	text-transform: uppercase;
}

.button--arrow {
	background-image: url('/portfolio/img/arrow.svg') !important;
	background-repeat: no-repeat !important;
	background-position: center right 13px !important;
	background-size: 15px !important;
	padding-right: 40px;
}


/*======== HEADER ========*/

header[role='header'] {
	background:transparent;
	z-index: 999;
	padding: 22px 0;
	border-bottom: 1px solid rgba(255,255,255,0.35);
	position: absolute;
	top: 0;
	width: 100%;
}

@media (max-width: 768px) {
	header[role='header'] {
		position: relative;
		background:#000;
	}
}

header[role='header'] .container-wide {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo {
	display: block;
}

.header-logoLink {
	color:#fff;
	font-weight: bold;
	text-decoration: none; 
	font-size:25px;
	text-transform: uppercase;
	border-bottom: 1px solid transparent;
	transition: 0.1s border-bottom;
}

@media (max-width: 768px) {
	.header-logoLink {
		font-size:25px;
	}
}

.header-logoLink:hover {
	border-bottom: 1px solid #fff;
}

.header-logoLink:focus {
	outline: 2px solid var(--focus-color);
	outline-offset: 4px;
}

@media (max-width: 768px) {
	nav[role="navigation"].visible {
		display: block;
	}

/*	#nav_toggle {
		display: block;
		color:#fff;
		position: absolute;
		top:19px;
		right:15px;
		text-decoration: none;
		border: 1px solid #fff;
		padding: 3px 11px;
	}*/
}

nav[role="navigation"] ul {
	list-style: none;
	margin:0px 0 0 0;
	padding:0;
}

@media (max-width: 768px) {
	nav[role="navigation"] ul {
		margin-top: 10px;
	}	
}

nav[role="navigation"] li {
	display: inline-block;
	margin-left: 18px;
}

@media (max-width: 768px) {
	nav[role="navigation"] li {
		margin-left: 0;
		margin-right: 15px;
		margin-bottom:0;
		display: inline-block;
	}	
}

nav[role="navigation"] a {
	color:#fff;
	display: block;
	font-size:14px;
	line-height: 14px;
	padding-bottom: 5px;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	text-transform: uppercase;
	transition: 0.1s border-bottom;
}

@media (max-width: 768px) {
	nav[role="navigation"] a {
		font-size:13px;
		line-height: 13px;
	}
}

nav[role="navigation"] a:hover,
nav[role="navigation"] a.active {
	border-bottom: 1px solid #fff;
}

nav[role="navigation"] a:focus {
	outline: 2px solid var(--focus-color);
	outline-offset: 4px;
}

.navButton {
	color:#fff !important;
	padding:10px 10px 10px 10px !important;	
	border:1px solid white !important;
	/*background-image: url('/portfolio/img/external.svg');
	background-repeat: no-repeat;
	background-position: top 9px right 8px;
	background-size:13px;
	padding-right:29px !important;*/
}

@media (max-width: 767px) {
	.navButton {
		border:0 !important;
		padding-left: 0 !important;
		display: inline-block !important;
	}
}

/*======== HEADING ========*/

.heading {
	padding: 160px 0 85px 0;
	background:#000;
	color:#fff;
	position: relative;
	border-bottom: 10px solid orange;
}

@media (max-width: 768px) {
	.heading {
		padding:35px 0 35px 0;
	}
}



.heading:before {
	content:"";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('https://st.depositphotos.com/1818423/1935/v/950/depositphotos_19350881-stock-illustration-abstract-technology-circuit-board-vector.jpg');
	left:0;
	right:0;
	top:0;
	opacity:0.07;

	background-position: center;
}

/*@media (max-width: 768px) {
	.heading:before {
		display: none;
	}

}*/


.heading a {
	color:inherit;
	text-decoration: none;
	font-weight: 600;
}

.heading .grid-container {
	position: relative;
}

.heading-title {
	font-size:43px;
	line-height: 61px;
	margin: 0 0 20px 0;
	text-transform: uppercase;
}

@media (max-width: 768px) {
	.heading-title {
		font-size:35px;
		line-height: 43px;
		margin: 0 0 15px 0;
	}
}

.heading p {
	max-width: 820px;
}

.heading--article .heading-title {
	text-align: center;
	font-size:47px;
}

.heading--article .date {
	text-align: center;
	margin:0 0 0.7rem 0;
	font-weight: bold;
}

.heading .button {
	background:none;
	border:1px solid #fff;
	margin-top: 20px;
}


.previews {
	display: grid;
	grid-gap: 42px;
	grid-template-columns: repeat(3, 1fr);
}

.preview {
	/*box-shadow: 0px 3px 5px rgb(0 0 0 / 6%);*/
	position: relative;
	height: 100%;
	background: #fff;
	display: flex;
	flex-direction: column;
}

.preview-image {
	width:100%;
	height: 235px;
}

.preview-image img {
	display: block;
	width: 100%;
	object-fit: cover;
	height: 100%;
}

.preview-body {
	background: #e5e5e5;
	padding: 20px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.preview-tag {
	margin: 0 0 8px 0 !important;
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
}

.preview-title {
	margin: 0 !important;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
}

.preview-text p {
    font-size: 17px;
    line-height: 24px;
    margin: 15px 0 0 0 !important;
}

.preview-readmore {
	padding-top: 30px !important;
	margin-top: auto !important;
	margin-bottom: 0;
	font-size: 15px;
	font-weight: bold;
}

.preview-link {
    text-decoration: none !important;
    color:#000 !important;
}

.preview-link:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/*======== CONTENT ========*/

.content {
	padding: 50px 0 60px 0;
}

@media (max-width: 768px) {
	.content {
		padding: 30px 0 30px 0;
	}
}

.content--shade {
	background: #eeeeee;
}

.content h1 {

}

.content h2 {
	font-size: 32px;
	margin-top: 45px;
	margin-bottom: 20px;
	padding-bottom: 6px;
	position: relative;
	color:#000;
}

@media (max-width: 768px) {
	.content h2 {
		font-size:24px;
	}
}

.content h3 {
	margin-top: 2rem;
}

.content table {
	margin-top: 30px;
	margin-bottom: 40px;
	border-collapse: collapse;
	border-spacing: 0;
	font-size:18px;
}

.content table:last-child {
	margin-bottom: 0;
}

.content table th {
	background: whitesmoke;
	font-size: 14px;
	text-transform: uppercase;
}

.content table th, 
.content table td {
	border:1px solid lightgrey;
}

.content a {
	color: #000;
	text-decoration: underline;
	font-weight: bold;
	text-underline-offset: 3px;
	text-decoration-thickness: 1px;
}

.content a:focus {
	outline: 3px solid var(--focus-color);
	border:0 !important;
}

.content ul {
	padding-left: 0;
	margin-left: 1.1rem;
}

.content li {
	margin-bottom: 0.6rem;
}

.content ol {
	padding-left: 0;
	margin-left: 1.2rem;
}

.content p {
	margin-top: 0;
	margin-bottom: 1.2rem;
}

.content p:first-child,
.content h1:first-child,
.content h2:first-child,
.content h3:first-child {
	margin-top: 0;
}

.content p:last-child,
.content ul:last-child {
	margin-bottom: 0;
}

.content .articleList {
	padding-top: 10px;
}

.content .articleList-item {
	margin-bottom: 50px;
	padding-bottom: 35px;
	border-bottom: 5px solid #eee;
}

.content .articleList-item:last-child {
	margin-bottom: 0;
	border-bottom: 0;
}

.content .articleList-articleTitle {
	margin: 0;
	padding:0;
	font-size: 29px;
	line-height: 1.3;
	border-bottom: 0;
}

@media (max-width: 768px) {
	.content .articleList-articleTitle {
		font-size: 25px;
	}
}


.content .articleList-articleTitle a {
	/*text-decoration-color: #277ed2;*/
	text-underline-offset: 3px !important;
	text-decoration-thickness: 2px !important;
}

.content .articleList .date {
	margin:0.5rem 0 0 0;
	font-weight: normal;
	display: none;
}

.content .articleList p {
	margin-top: 16px;
	font-size: 18px;
	line-height: 1.5;
}

.content .articleList-readmore {
	margin-bottom: 0;
	margin-top: 0 !important;
	font-weight: bold;
	margin-top: 25px;
	font-size: 18px;

	padding-right: 40px;
	background-image: url('/portfolio/img/arrow-right-blue.svg');
	background-repeat: no-repeat;
	background-position: top 7px right 15px;
	display: inline-block;

}

.content .panel {
	background:#fbfbfb;
	padding:18px 25px;
	border-radius: 5px;
	margin-top: 35px;
	box-shadow: 0 2px 4px rgba(27,31,35,.15);
}

.content pre {
	font-size:15px;
	background: whitesmoke;
	color: black;
	overflow: auto;
	padding:20px;
	margin-bottom: 1.5rem;
	font-family: monospace;
	border-bottom:5px solid lightgrey;
}

.content p code {
	background: #ececec;
	padding: 0.1rem 0.2rem;
	font-size: 1rem;
	font-family: monospace;
	font-weight: 500;
}

.content blockquote {
	border-left: 8px solid #005eb8;
	margin-left: 0;
	padding-left: 20px;
	margin-top: 35px;
	margin-bottom: 35px;
	background:#eee;
	padding-top: 18px;
	padding-bottom: 18px;

}

/*Tags List Navigation*/

nav[role='complementary'] {
	position:sticky;
	top:0;
}

nav[role='complementary'] ul {
	margin: 0 !important;
	padding: 0;
	margin: 0;
	list-style: none;
}

nav[role='complementary'] li {
    padding: 6px 0;
    margin: 0 !important;
}

nav[role='complementary'] a {
	background: #f2f2f2;
	padding: 10px 14px;
	font-size:16px;
	display: block;
	transition:0.2s background;
	text-decoration: none;
}

nav[role='complementary'] a:hover {
	background: #eee;
}

nav[role='complementary'] .hash {
    margin-right: 2px;
}
/*End Tags List Navigation*/

.pagination {
	margin-top: 45px;
}

.pagination .page-link {
	display: inline-block;
	background: #e5e5e5;
	color: #000;
	margin-right: 4px;
	text-decoration: none;
	padding-top: 9px;
	padding-bottom: 8px;
	padding-left: 14px;
	padding-right: 14px;
	font-size:14px;
	text-transform: uppercase;
}

/*
.pagination .next-link {
	padding-right: 44px;
	background-image: url('/portfolio/img/arrow-right.svg');
	background-repeat: no-repeat;
	background-position: top 12px right 15px;
}

.pagination .prev-link {
	padding-left: 44px;
	background-image: url('/portfolio/img/arrow-left.svg');
	background-repeat: no-repeat;
	background-position: top 12px left 15px;
}
*/

.return-to-posts {
	padding-left: 42px;
	background-image: url('/portfolio/img/arrow-left.svg');
	background-repeat: no-repeat;
	background-position: top 7px left 15px;
}

/*CARDS*/

.card {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
	transition:0.3s box-shadow;
}

@media (max-width: 768px) {
	.card {
		flex-direction: row;
	}
}

.card:hover .card-image img {
	transform: scale(1.08);
}

.card:hover .card-body {
	background:#f0f0f0;
}


.card-image {
	overflow: hidden;
}

@media (max-width: 768px) {
	.card-image {
		flex: 0 0 160px;
		height: 100%;
		background: #eee;
	}
}

.card-image img {
	display: block;
	transition:0.3s;
	width:100%;
	height:auto;
}

@media (max-width: 768px) {
	.card-image img {
		height: 100%;
		object-fit: cover;
	}
}

.card-body {
	padding: 28px 24px;
	display: flex;
	flex-direction: column;
	flex: 1;
	background: #f7f7f7;
	transition:0.2s background;
}

@media (max-width: 768px) {
	.card-body {
		padding: 14px 20px;
	}
}

.card-title {
	font-size: 22px;
	line-height: 1.3;
	margin:0;
}

@media (max-width: 768px) {
	.card-title {
		font-size: 16px;
	}
}

.card-link {
	text-decoration-color: #277ed2;
	text-underline-offset: 3px !important;
	text-decoration-thickness: 2px !important;
}

.card-link::before {
	content:"";
	display: block;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

.card-text, .card p {
	font-size:16px;
	line-height: 1.42;
	margin-bottom: 0;
	margin-top: 10px !important;
	margin-bottom: 0px !important;
	flex:1;
	color: #4d4d4d;
}

@media (max-width: 768px) {
	.card-text, .card p {
		font-size: 14px;
		line-height: 1.3;
	}
}

/*END CARDS*/

.posts {
	display: grid;
	grid-template-columns: auto 250px;
	grid-gap:60px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	padding-left: 20px;
	padding-right: 20px;

}

@media (max-width: 767px) {
	.posts {
		grid-template-columns: auto;
	}
}

.cardsGrid {
	display: grid;
	grid-gap:36px;
	grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 767px) {
	.cardsGrid {
		grid-gap:15px;
		grid-template-columns: repeat(1, 1fr);
	}
}

figure {
	margin:0;
	margin-bottom: 20px;
	padding:13px;
	background:#eee;
}
figure img {
	display: block;
}
figcaption {
	background:#eee;
	padding:14px;
	padding-top: 24px;
	line-height: 1.4;
	font-size:16px;
	font-weight: 600;
}

/*======== FOOTER ========*/

footer[role='footer'] {
	font-size:0.94rem;
	background: #000;
	color:#fff;
	padding: 35px 0 35px 0;
	position: relative;
	border-top: 10px solid orange;
}

/*
footer[role='footer']:before {
	content:"";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('/portfolio/img/folk-pattern.png');
	left:0;
	right:0;
	top:0;
	opacity:0.1;
	background-size: cover;
	background-position: center;
}
*/

footer[role='footer'] .grid-container {
	max-width: 1260px;
}

footer[role='footer'] i {
	color:#e63b27;
}

footer[role='footer'] p img {
	display: inline-block;
	vertical-align: middle;
	margin-top: -3px;
}

footer[role='footer'] span {
	float:right;
}

@media (max-width: 768px) {
	footer[role='footer'] span {
		float:none;
		display: block;
	}	
}
/*
footer[role='footer']:before {
	content:"";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('/portfolio/img/folk-pattern.png');
	left:0;
	right:0;
	top:0;
	opacity:0.1;
	background-size: cover;
	background-position: center;
}
*/
/*@media (max-width: 768px) {
	footer[role='footer']:before {
		display: none;
	}
}
*/
.footer-credit {
	text-align: right;
}

@media (max-width: 768px) {
	.footer-credit {
		text-align: left;
	}
}


video {
  max-width: 100%;
  height: auto;
}